*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 30px;
}
/* body{
    background-color: #D6A2E8;    
} */
.header{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: blue;
}
hr{
    background-color: gray;
    /* width: 100vw; */
    height: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.questions{
    margin-left: 50px;
    margin-right: 50px;
}
.inline{
    display: inline-block;
}
.bold{
    font-weight: 700;
}

#changetext{
    font-size: 40px;
    color: #8e44ad;
    font-weight: 700;
    cursor: pointer;
}
#changecontent{
    font-size: 40px;
    color: #8e44ad;
    font-weight: 700;
}
.btn-1{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #FDA7DF;
    background: #FDA7DF;
    color: #ffff;
    font-size: 20px;
    margin: 20px 50px;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 50px;
    justify-content: center;
}
.child{
    width: 200px;
    height: 150px;
    background-color: #FC427B;
    box-shadow: 0  0 10px #FC427B;

}

table , tr, td, th {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 90vw;
    padding: 10px;
    justify-content: center;
    margin: auto;
}


